
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("/common/css/vars.css");

@keyframes fade-in {
    from {filter: opacity(0);}
    to   {filter: opacity(1);}
}


html, body {

	height: 100%;
	
}


body {

    padding: 0;
	margin:  0;
    background: var(--white);
	color: var(--black);
    font-family: "Roboto", sans-serif;
    font-size: 13pt;

}


header {

	position: fixed;
	top: 0;
	font-size: 1.5em;
    padding: 22px 1em 22px 80px;
	background: var(--translucent-light-gray);
	outline: 1px solid var(--translucent-mid-gray1);

}

header, footer {

	width: 97%;
	z-index: 1;
	
}

footer {

    background: var(--translucent-light-gray);
    outline: 1px solid var(--translucent-mid-gray1);
	text-align: center;
    padding: 2em 1em 4em;

}

#by {

	font-size: 0.8em;
	color: var(--gray2);

}


#card-container-container { /* For dynamic side margins */

    display: flex;
	flex-direction: column;
	align-items: center;
	animation: fade-in 1s;

}


.card-container {

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 2em 0 0;
	max-width: calc(var(--card-df-width) * 5);

}


#featured {

	border-radius: calc(var(--card-border-radius) * 2);
	background: var(--gold);
	margin-top: 6em;
	padding: 2em 1em 0;

} #featured > h1 {
	
	text-align: center;
	letter-spacing: 0.75em;
	color: var(--translucent-mid-gray2);
	width: 100%;
	font-size: 1.75em;
	margin: -0.5em 0;

}

#main {

	margin-bottom: 1em;

}


.card {

	display: block;
	position: relative; /* For positioning the pseudo-element */
	background: var(--white);
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
	padding-bottom: 0.5em;
	width: var(--card-width);
	margin: 0 1em 2em;
	text-decoration: none;
	color: inherit;

}


.card img {

	border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
	background: var(--gray2); /* Placeholder color until image loads */
	width: 100%;
	height: 8em;
	object-fit: cover; /* Center-crop image to fit into the card */

}

.card p {

	margin: 0.5em 1em;

}

.card p > b {

	margin-left: 0.25em;

}

.title {

	color: var(--gray3); /* Uncategorized cards get this color */
	font-size: 1.15em;

}

.small-caps {

	font-variant: small-caps

}

.subtitle {

	font-size: 0.75em;
	
}

.monospace {

	font-family: monospace;

}


/* 
 * h3 color codes
 * Color code the cards with these
 */
.game { /* Playable things with a goal */
	color: var(--blue) !important;
}
.interactive { /* Playable things with no goal */
	color: var(--green) !important;
}
.art { /* Things that you just look at */
	color: var(--red) !important;
}


/* 
 * Hover lift
 * Combine a shadow and scaling effect
 * to make a card look like it's
 * lifting off the page
 * when the cursor hovers over it
 */
.hl {

	transition: transform var(--transition-speed);

} .hl:hover {

	transform: scale(1.025, 1.025);

}
/* Shadow on hover
 * https://alligator.io/css/transition-box-shadows/ */
.hl::before {
	/* Position the pseudo-element */
	content: " ";
	position: absolute;
	top:0;right:0;bottom:0;left:0;
	border-radius: var(--card-border-radius);

	/* Create the box shadow at expanded size */
	box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);

	/* Hidden by default */
	opacity: 0;
	transition: opacity var(--transition-speed);
  
	/* Allow elements under this one to still "sense" the cursor */
	pointer-events: none;

}.hl:hover::before {
	/* Show the pseudo-element on hover */
	opacity: 1;

}


.placeholder-card {

	width: var(--card-width);
	margin: 0.5em 1em 0;

}
